:root{
--dark-color:#323232;
--bcg-main-color:#F6F6F8;
--light-color: #FFFFFF;
--accent-color: #504DC2;
--main-text-color: #999999;
--bttn-color: #4985FF;



}


body {
font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.56;
    color: var(--main-text-color);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 15px;
}

/* header */

.nav-list{
    display: flex;
    justify-content: flex-end;
    background-color: #504DC2;

}

.nav-link{
    text-decoration: none;
    padding-top: 40px;
    padding-bottom: 39px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--light-color);
}

.nav-item{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
}

.header{
    border-bottom: 1px solid #A1A1A1;
}

.hero {
    
    padding-top: 319px;
    padding-bottom: 335px;
    max-width: 1920px;
    min-height: 900px;    
    background-color: var(--dark-color);
    

}

.hero-title {    

font-size: 16px;
font-weight: 500;
line-height: 1.25;
letter-spacing: 0em;
text-align: center;
margin-bottom: 20px;
margin-left: auto;
margin-right: auto;

}

.hero-sub-title {
max-width: 829px;
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 1.3;
text-align: center;
color: var(--light-color);
margin-bottom: 50px;
margin-left: auto;
margin-right: auto;

}

.hero-link {
    display:flex;
    border-radius: 4px;
    border: 1px solid transparent;
    width: 200px;
    height: 40px;
    background-color: var(--bttn-color);
    color: var(--light-color);
    /* padding: 15px 36px;    */
font-size: 16px;
font-weight: 500;
line-height: 1.25;
justify-content: center;
align-items: center;
/* text-align: center; */

margin-left: auto;
margin-right: auto;


}