:root{
--dark-color:#323232;
--bcg-main-color:#F6F6F8;
--light-color: #FFFFFF;
--accent-color: #504DC2;
--main-text-color: #999999;


}


body {
font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.56;
    color: var(--main-text-color);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 15px;
}

/* header */

.nav-list{
    display: flex;
    justify-content: flex-end;
    background-color: #504DC2;

}

.nav-link{
    text-decoration: none;
    padding-top: 40px;
    padding-bottom: 39px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--light-color);
}

.nav-item{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
}

.header{
    border-bottom: 1px solid #A1A1A1;
}